##########################
## civi-zero            ##
##                      ##
## Default configs      ##
## All of these options ##
## can be overridden    ##
## in install.local.cfg ##
##########################

## Services
###########
# Apache modules
apache_modules=(actions expires headers rewrite setenvif)
# MariaDB version
mariadb_version=10.6
# PHP version
php_version=8.2
# PHP extensions
php_extensions=(
    "php${php_version}"
    "php${php_version}-bcmath"
    "php${php_version}-bz2"
    "php${php_version}-cli"
    "php${php_version}-common"
    "php${php_version}-curl"
    "php${php_version}-fpm"
    "php${php_version}-gd"
    "php${php_version}-imagick"
    "php${php_version}-imap"
    "php${php_version}-intl"
    "php${php_version}-ldap"
    "php${php_version}-mbstring"
    "php${php_version}-mysql"
    "php${php_version}-opcache"
    "php${php_version}-readline"
    "php${php_version}-soap"
    "php${php_version}-zip"
    "php${php_version}-xdebug"
    "php${php_version}-xml"
)
# XDebug mode
# For the CI process 'coverage' is used, for development you might consider using 'debug' or 'develop'
php_xdebug_mode=coverage

## Tools
########
# Downloaded binaries location
local_bin=/usr/local/bin
# Composer
url_composer=https://getcomposer.org/download/2.8.8/composer.phar
sha_composer=957263e284b9f7a13d7f475dc65f3614d151b0c4dcc7e8761f7e7f749447fb68
# CV
url_cv=https://download.civicrm.org/cv/cv.phar
# civix
url_civix=https://download.civicrm.org/civix/civix.phar
# civistrings
url_civistrings=https://download.civicrm.org/civistrings/civistrings.phar
# php-cs-fixer
url_php_cs_fixer=https://github.com/PHP-CS-Fixer/PHP-CS-Fixer/releases/download/v3.75.0/php-cs-fixer.phar
sha_php_cs_fixer=6fcd912a97f48069f06cc6447a9b3694d81d0baf7299b84f66368cd1ee516ee0

## CiviCRM
##########
# Drupal modules
drupal_modules=admin_toolbar,big_pipe,breakpoint,ckeditor5,config,editor,path,toolbar
# Drupal theme
drupal_theme=claro
# DB name
civi_db_name=civi_zero
# DB user name
civi_db_user_name=civi_zero
# DB user pass
civi_db_user_pass=civipass
# DB name for testing
civi_db_test=civi_test
# Domain
civi_domain=civi.example.com
# Site name
civi_site="Local CiviCRM"
# Civi system user name
civi_user=admin
# Civi system user pass
civi_pass=adminpass
# Civi system user mail
civi_mail=admin@example.com
# Civi system user api-key
civi_apikey=userkey
# Civi enabled components
civi_components=CiviEvent,CiviContribute,CiviMember,CiviMail,CiviReport,CiviCampaign
# Civi site-key
civi_sitekey=sitekey12
# Configs for Civi
civi_configs=(
    '"debug_enabled":1'
    '"backtrace":1'
)
